@use "./helpers/variables.scss" as *;
@use "./helpers/mixins.scss" as *;
@use "./libs/normalize.min.css" as *;

// sections
@use "sections/header/header.scss" as *;
@use "sections/header/hamburger.scss" as *;

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat.ttf');
}

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(32, 31, 27);
}