:root {
	// z-indexes
	--z-header: 100;
	--z-tooltip: 10;

	// height
	--nav-height: 3.5rem;

	// colors
	--color-white: white;
	--color-black: black;

	// font sizes
	--biggest-font-size: 2rem;
	--big-font-size: 1.5rem;
	--middle-font-size: 1rem;
	--normal-font-size: .938rem;

	// font-weight
	--font-regular: 400;
	--font-semi-bold: 600;
	--font-bold: 700;
}