:root {
	// z-indexes
	--z-header: 100;

	// height
	--nav-height: 3.5rem;

	// colors
	--color-white: white;
	--color-black: black;

	// font-weight
	--font-regular: 400;
	--font-semi-bold: 600;
	--font-bold: 700;
}