.home {

	&_swiper {
		position: relative;
		z-index: var(--z-tooltip);
	}

	&_article {
		position: relative;
		padding-top: 13rem;
		width: 100%;
		height: 100vh;
	}

	&_image,
	&_shadow,
	&_content {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	&_image {
		object-fit: cover;
		object-position: center;
		z-index: -1;
	}

	&_data {
		padding-left: 75px;
		text-align: left;
	}

	&_shadow {
		background-color: hsla(0, 0%, 0%, .05);
		z-index: -1;
	}

	&_subtitle {
		font-size: var(--big-font-size);
		margin: 0 0 .5rem 0;
	}

	&_title {
		font-size: var(--biggest-font-size);
		margin: 0 0 2.5rem 0;
		font-weight: var(--font-bold);
	}

	&_button {
		color: var(--color-white);
		display: flex;
		justify-content: left;
		align-items: center;
		gap: 0.5rem;
		font-weight: var(--font-semi-bold);
		font-size: var(--middle-font-size);
		text-decoration: none;

		img {
			width: 1.5rem;
			height: 1.5rem;
			transition: transform .4s;
		}

		&:hover {
			img {
				transform: translateX(.5rem);
			}
		}
	}

	&_social {
		position: absolute;
		z-index: var(--z-tooltip);
		left: 1.5rem;
		bottom: 4rem;
		display: grid;
		row-gap: 1.5rem;

		&_link {
			width: 1.7rem;
			height: 1.7rem;

			img {
				width: 100%;
				height: 100%;

				&:hover {
					transform: scale(1.1)
				}

				&:active {
					transform: scale(1)
				}
			}
		}
	}
}

@media(max-width: 1200px) {
	.home {
		&_subtitle {
			font-size: 1.7rem;
		}

		&_title {
			font-size: 3.3rem;
		}

		&_button {
			font-size: 1.2rem;
		}
	}
}

@media(max-width: 800px) {
	.home {
		&_data {
			padding-left: 55px;
		}

		&_subtitle {
			font-size: 1.3rem;
		}

		&_title {
			font-size: 2.5rem;
		}

		&_button {
			font-size: 1rem;
		}
	}
}